.container-productDetail{

    display: flex;
    gap:30px;
    margin-bottom: 50px;
    flex-wrap:wrap;
    justify-content: center;
    /* background-color: black; */
}
.image-productDetail{

    object-fit: contain;
    width: 300px;
    max-height: 150px;
}

.description-productDetail{
  
    width: 50%;

}